*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: sans-serif;
    font-optical-sizing: auto;
}

header{
    background-color: #65E4A3;
    padding: 56px 0px 96px 0px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 650px;
    margin-bottom: 93px;
}

header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #0A2640;
    margin-right: 40px;
    font-weight: 600;
}

nav ul {
    display: flex;
    align-items: center;
}

#login-btn{
    border: 2px solid #0A2640;
    padding: 8px 40px;
    border-radius: 24px;
    font-weight: 700;
}

/* about text */
.about-text{
    color: #0A2640;
    font-size: 20px;
    margin-bottom: 12px;
}

/* we love text */
.we-love-text{
    font-size: 48px;
    width: 570px;
    line-height: 72px;
}

.funding-handshake-text{
    font-size: 16px;
    line-height: 28px;
    width: 455px;
    color: #0A2640;
}

.about-funding-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 255px;
}

/* === start section our-number-text === */

.our-number-text{
    font-size: 20px;
    margin-bottom: 12px;
    color: #0A2640;
    margin-top: 94px;
}

.handshake-inforgrphic-text{
    font-size: 48px;
    line-height: 72px;
    width: 800px;
    text-align: center;
    margin-bottom: 84px;
}

.our-number-text-handshake-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/* one-twenty-m */
.one-twenty-m{
    font-size: 96px;
    color: #0A2640;
}

.cool-feature-text{
    font-size: 24px;
    color: #0A2640;
}

.stats{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 120px;
}

/* === section end === */

/* start new section */
.three-paras-container{
    background-color: #0A2640;
    padding: 120px 0px 120px 0px;
    margin-bottom: 124px;
}

.our-story-text{
    font-size: 20px;
    color: #fff;
    margin-bottom: 12px;
}

.marketcrowd-text{
    font-size: 48px;
    line-height: 72px;
    width: 800px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
}

.conversion-angel-text{
    font-size: 20px;
    line-height: 32px;
    width: 700px;
    color: #F1F1F1;
    
}

.three-paras{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* === section end === */

/* === Start new section our team === */
.our-team-text{
    font-size: 20px;
    color: #777777;
    margin-bottom: 12px;
}

.the-people-text{
    font-size: 48px;
    margin-bottom: 22px;
}

.conversion-deployment-text{
    font-size: 20px;
    color: #777777;
    width: 750px;
    line-height: 32px;
}

.our-team-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 56px;
}

.micheal-text{
    font-size: 28px;
    margin: 24px 0px 12px 0px;
}

.general-text{
    color: #777777;
    font-size: 20px;
}

.three-cards{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 75px;
}

.image-with-text{
    display: flex;
    align-items: center ;
    gap: 24px;
}

.dwight-schrute-text{
    font-size: 28px;
    margin-bottom: 12px;
}

.general-manager-text{
    font-size: 20px;
    color: #777777;
}

.two-image-cards{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-bottom: 46px;
}

.two-cards-image{
      display: flex;
    justify-content: center;
    gap: 300px;
    margin-bottom: 124px;
}

/* === section end === */

/* start our blog section */

.our-blog-container{
    background-color: #0A2640;
    padding-block: 120px;
}

.our-blog-text{
    font-size: 20px;
    margin-bottom: 12px;
    color: #fff;
    text-align: center;
}

.value-accelerator-text{
    font-size: 48px;
    text-align: center;
    width: 1000px;
    line-height: 72px;
    color: #fff;
    padding-bottom: 64px;
}

.two-text-our-blog{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}