* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: sans-serif;
    font-optical-sizing: auto;
}


header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 700px;
    margin-top: 30px;
    margin-bottom: 45px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li a {
    margin-right: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #0A2640;
    font-weight: 700;
}

.logo-svg {
    display: flex;
    justify-content: space-between;
}

/* section start */
.blog-text-container {
    text-align: center;
}

.blog-text {
    font-size: 20px;
    color: #777777;
}

.tawords {
    font-size: 64px;
    color: #0A2640;
    margin-bottom: 67px;
}

.category-text {
    color: #0A2640;
    font-size: 16px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
}

.nobember-twentytwo {
    color: #777777;
    font-weight: none;
    font-size: 14px;
}

.pitch-backing {
    font-size: 48px;
    line-height: 72px;
    width: 700px;
    font-weight: 400;
    margin-bottom: 20px;
}

.tawords-below-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.circle-img-container {
    display: flex;
    align-items: center;
}

.circle-img-text {
    font-size: 16px;
    margin-left: 12px;
}

/* section end */


/* Latest news section start */

.latest-news {
    font-size: 48px;
    margin-top: 96px;
    margin-bottom: 40px;
}

.pt-va-focus {
    font-size: 20px;
    line-height: 32px;
    width: 250px;
    margin-bottom: 40px;
}

.nickname {
    font-size: 16px;
    margin-left: 12px;
}

.woman-pic-with-text {
    display: flex;
    align-items: center;
}

.bt-m{
    margin-bottom: 96px;
}


.latest-news-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.loadmore-btn > button{
    border-radius: 56px;
    padding: 16px 56px;
    border: 2px solid #0A2640;
    font-size: 20px;
    font-weight: 700;
    color: #0A2640;
    background-color: white ;
    cursor: pointer;
}

.loadmore-btn{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 96px;
}

/* === end section === */

/* === start new section === */

.enterprise-with-two-btn-containter{
    background-color: #0A2640;
    padding: 72px 242px;
    margin: 100px;
    border-radius: 12px;
    background-image: url(./assests/ellipe-circle-shape.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 715px;
}

.enterprise-with-two-btn{
    font-size: 48px;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
    line-height: 72px;
}

.your-email-btn{
    padding: 12px 158px 12px 32px;
    font-size: 20px;
    color: #000;
    border-radius: 240px;
    border: 2px solid #fff;
    margin-right: 24px;
    cursor: pointer;
}

.start-now-btn{
    font-size: 20px;
    font-weight: bold;
    padding: 12px 56px;
    color:#0A2640;
    background-color: #65E4A3;
    border-radius: 56px;
    border: 2px solid #65E4A3;
    cursor: pointer;
}

.two-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}